.table1 td,
.table1 tr {
    padding: 1rem;
}

.table2 {
    text-align: center;
}

.violet {
    text-decoration: underline;
    color: purple;
}

.tc {
    text-align: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
    color: white;
}