Product
// product Id
// sku
// name
// price
// discount
// quantity
// description
// status (enabled/disabled)
// createdDate
// updatedDate

Cayegory
// categoryId
// name
// status
// description

Customer
// customerId
// firstName
// lastName
// email
// phone
// Password
// status
// CreatedDate
// updatedDate

sqlConfig
// connection()
// isConnected()
// insert($query) : return last insert Id or false
// update($query) : return true / false
// delete($query) : return true or false
// fetchRow($query) : return single row assoc or false
// fetchAll($query) : return multiple rows assoc or false
